@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans&family=Poppins:wght@500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans&family=Poppins:wght@500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap");

.about-container {
  /* height: 4570px; */
  margin: 0;
  /* padding-top: 39rem; */
}

.about-hero-title {
  /* position: absolute; */
  height: 40rem;
  margin-top: 0;
  padding: 50px;
  background-color: black;
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 30px;
  color: white;
  text-align: center;
}

.about-hero-star {
  font-size: 80px;
}

.about-hero-img {
  /* position: relative; */
  margin: 0 -10rem 10rem 0;
  padding-top: 5rem;
  top: 8rem;
  height: 10px;
  width: auto;
  transform: rotate(-25deg);
}

.about-container h2 {
  padding: 30px 20px;
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 32px;
}

.about-article-container p {
  padding: 30px 20px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
}

/* Media Queries for Tablet */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .about-hero-title {
    margin-top: 0;
    padding: 100px;
    height: 35rem;
    background-color: black;
  }

  .about-hero-img {
    padding-top: 1rem;
    top: 5rem;
  }

  .about-article-container p {
    padding: 30px 100px;
    margin: 0 5rem;
  }

  .about-image1 {
    width: 100vw;
  }

  .about-image2 {
    width: 100vw;
  }

  .about-image3 {
    width: 100vw;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .about-article-container {
    display: flex;
  }

  .about-image1 {
    width: 722px;
  }

  .about-image2 {
    width: 722px;
  }

  .about-image3 {
    width: 722px;
  }
}
