@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans&family=Poppins:wght@500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap");

.about-container {
    /* height: 4570px; */
    margin: 0;
}

.about-hero-title {
    margin-top: 0;
    padding: 50px;
    background-color: black;
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 40px;
    color: white;
    text-align: center;
}

.about-hero-star {
    font-size: 80px;
}

.about-hero-img{
    margin: 0;
    width: 100%;
}

.about-container h2 {
    padding: 30px 20px;
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 32px;
}

.about-container article p {
    padding: 30px 20px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 18px;
}