@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans&family=Poppins:wght@500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans&family=Poppins:wght@500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap");

#navbar {
  padding: 0;
}

#Logo {
  height: 50px;
  padding: 1rem;
  color: white;
}

#navbarScroll {
  transition: 0.3s ease-in-out;
  background: black;
  z-index: 10;
}

#navCollapse {
  z-index: 100;
  /* height: 100vh; */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.1s;
}

#navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

a.nav-link {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 20px;
  color: white;
}

/* Media queries for Desktop */
