@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans&family=Poppins:wght@500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans&family=Poppins:wght@500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#navbar {
  padding: 0;
  margin: 0;
  z-index: 1000;
  background-color: black;
}

#navCollapse {
  overflow-y: scroll;
  padding: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  transition: 0.1s ease-out;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#navbar-container {
  z-index: 1000;
  max-width: 100vh;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
}

#navbarScroll {
  border-style: none;
  transition: 0.3s ease-in-out;
  background: black;
  z-index: 2000;
  outline: none;
  box-shadow: none;
  padding: 1rem;
}

#navbarLinks {
  padding-top: 5rem;
}

#navLink {
  margin-bottom: 1rem;
}

#navLink:after {
  content: "";
  position: absolute;
  background-color: #f29f05;
  height: 3px;
  width: 0;
  left: 90px;
  margin-bottom: -50;
  transition: 0.3s;
}

#navLink:hover:after {
  width: 50%;
}

#navBtn:hover {
  border: 0;
  background-color: #f29f05;
}

/* #navLink:hover {
  text-decoration: underline;
  text-underline-position: below;
}
*/

#Logo {
  z-index: 2000;
  position: absolute;
  width: 50px;
  height: auto;
  top: 20px;
  left: 20px;
}

a.nav-link {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 20px;
  color: white;
  display: block;
}

#Navbar-Container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1100px;
}

#Nav {
  background-color: black;
  height: 80px;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  z-index: 10;
}

#Navbar-Logo {
  color: white;
  justify-self: flex-start;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-weight: bold;
  font-family: "Lato";
  text-decoration: none;
}

#MobileIcon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}

#NavMenu {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align: center;
  margin-right: -22px;
  display: none;
  color: white;
  background-color: black;
}
*/

/* Media queries for Desktop */

@media screen and (max-width: 960px) {
  #Nav {
    transition: 0.8s all ease;
  }
}
