@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans&family=Poppins:wght@500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap");

.splash-container {
  /* height: 4570px; */
  margin: 0;
}

/* .splash-hero-title {
  margin-top: 0;
  padding: 50px;
  background-color: black;
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 40px;
  color: white;
  text-align: center;
} */

.splash-container h2 {
  padding: 30px 20px;
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 32px;
}

.splash-article-container {
  height: 90rem;
  padding: 40px 40px;
  background-color: #ffa452;
}

.splash-title {
  color: white;
}

.splash-block {
  background-color: black;
  height: 45rem;
}

.splash-hero-img {
  margin: 0;
  width: 100%;
}

.splash-hero-star {
  font-size: 60px;
}

.splash-block p {
  font-size: 1.5rem;
  color: white;
  font-family: "Lato";
}
