@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans&family=Poppins:wght@500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans&family=Poppins:wght@500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap");

.splash-container {
  margin: 0;
}

.splash-container h2 {
  padding: 30px 20px;
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 32px;
}

.splash-article-container {
  height: 83rem;
  padding: 40px 40px;
  background-color: #ffa452;
}

.splash-article-container p:nth-last-of-type(2) {
  font-family: "Lato";
  font-weight: 700;
  font-size: 32px;
  color: black;
  margin-bottom: -4px;
}

.splash-article-container:nth-last-of-type(1) {
  font-family: "Lato";
  font-weight: 500;
  font-size: 32px;
  color: black;
}

.splash-title {
  color: white;
}

.splash-block {
  background-color: black;
  height: 45rem;
  margin-bottom: 2rem;
  padding: 0;
}

.splash-hero-img {
  margin: 0;
  width: 100%;
}

.splash-hero-star {
  font-size: 60px;
}

.splash-block p {
  font-size: 1.5rem;
  color: white;
  font-family: "Lato";
}

#cta-solid {
  font-weight: 400;
  margin: 2rem 0;
  background-color: black;
  border-radius: 5px;
}

#cta-outline {
  font-weight: 400;
  margin-bottom: 2rem;
  outline-color: black;
  stroke-width: 2rem;
  border-radius: 5px;
}

/* @media only screen and (min-device-width: 1024px) and (max-device-width: 1349px) {
  .splash-block {
    background-color: blue;
    height: 5rem;
  }
} */

/* Media queries for Desktop */

@media screen and (min-width: 768px) and (max-width: 1420px) {
  .splash-article-container {
    height: 60rem;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .splash-article-container h2:first-child {
    margin: 0;
  }
  .splash-block {
    display: flex;
    width: 1000px;
    height: 350px;
    flex-shrink: 0;
    background-color: black;
  }

  .splash-article-container {
    height: 45rem;
    padding: 40px 40px;
  }

  .splash-title {
    color: blue;
    font-family: Playfair Display;
    font-size: 500px;
    /* font-style: normal; */
    font-weight: 600;
    /* line-height: normal; */
  }

  h2:first-child {
    font-size: 32px;
    font-weight: 600;
  }

  #splash-flex h2 {
    font-size: 60px;
    color: #f29f05;
  }

  #splash-flex {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem;
  }

  #splash-hero-star {
    visibility: hidden;
  }

  #splash-cta {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
  }

  #splash-ctaWords {
    /* display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 10px; */
  }

  #splash-btn {
  }

  /* .splash-article-container p:nth-last-child(2) {
    color: aqua;
  } */
}
